
.mim-fnt{
    font-family: 'Baloo Bhaina 2', cursive;
}

.btn-ai{
    top: 2.5rem;
    left: -2.5rem;
}

.btn-ai .ai{
    position: absolute;
    right: 0.75rem;
    top: 2rem;
}
.italic{
    font-style: italic;
}

i.leading-none{
    line-height:unset !important;
}

trix-toolbar .trix-button-group:not(:first-child) {
     margin-left: 0.5vw;
}

trix-toolbar .trix-button--icon{
    width: 2.1em;
}
.filepond--credits{
    display: none;
    opacity: 0;
}
